* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: sans-serif;
}

body {
    background-image: url(bush.webp);
}

header {
    background-color: white;
    padding: 40px 0;
    border-bottom: 2px solid navy;
    margin-bottom: 30px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

h1 {
width: 50%;
display: inline-block
}

header nav {
width: 45%;
display: inline-block;
text-align: right;
}

main {
    width: 55%;
    display: inline-block;
}

p {
    margin: 10px 0;
    line-height: 140%;
}

aside {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    background: aliceblue;
}

section {
    max-width: 550px;
    margin: auto;
    background-color: aliceblue;
    padding-left: 10px;
    padding-right: 10px;
}

img {
    float: left;
    margin: 20px;
}

footer {
 text-align: center;
 background-color: aliceblue;
 padding: 20px;
 margin-top: 20px;
}

main::after {
    content: "";
    clear: both;
    display: block;
}

